{% extends "user/dasar.html" %} {% block title %} Laman Tes | Tes Psikologi DISC {% endblock %} {% block content %}

<!-- Jumbotron 1 -->
<section class="jumbotron text-black">
  <!-- Panduan Tambahan -->
  <div class="container container-panduan">
    <div class="container mt-3 text-center">
      {% with messages=get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
        <button class="close" type="button" data-dismiss="alert"></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </div>
</section>
<!-- Akhir Jumbotron 1 -->

{% endblock %}
